

nav ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
	float: left;
}

nav ul a{
	display: block;
	padding: 8px;
	background: #dddddd;
	text-decoration: none ;
}

nav ul a:hover{
	background-color:purple ;
	color: white ;
}

body {
	background-color: 	#00FFFF;
}

h1 {
    margin-right: 10%;
    background-color: green;
    border-style: solid;
    border-width: medium;
  
}

h1 {
  clear: left;
  display: block;
   font-size: 2em;
   -webkit-margin-before: 0.67em;
   -webkit-margin-after: 0.67em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 6em  
  
}

.bordered {
  border-style: solid;
}

.center {
    display: block;
    margin: 0 auto;
    width: 50em 
}

.center {
  border-style: solid;
}

	
	
	
	
	
	
	
	
	
	
	
	